body{
margin:0;
font-family:sans-serif;
background:#f0f0f0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
transition:0.3s;
}

body.dark{
background:#121212;
color:white;
}

.app{
background:white;
padding:20px;
border-radius:15px;
width:350px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

body.dark .app{
background:#1e1e1e;
}

.header{
display:flex;
justify-content:space-between;
}

.input-box{
display:flex;
flex-direction:column;
gap:10px;
margin:15px 0;
}

input{
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px;
border:none;
border-radius:8px;
background:#7c6cff;
color:white;
cursor:pointer;
}

li{
list-style:none;
background:#eee;
padding:10px;
margin-bottom:8px;
border-radius:8px;
display:flex;
justify-content:space-between;
}

body.dark li{
background:#333;
}

.delete{
cursor:pointer;
color:red;
}